@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: unset !important;
}

html, body {
  overflow-x: hidden;
  background-color: #05141F !important;
  color: #ededed !important;
}

p {
  margin-bottom: 0;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes homeBgText {
  0%, 10%, 100% {
    background-position: -40rem 0;
  }
  65%, 85% {
    background-position: 0 0;
  }
}
@keyframes homeCursorText {
  0%, 10%, 100% {
    width: 0;
  }
  65%, 78%, 85% {
    width: 100%;
    opacity: 1;
  }
  75%, 81% {
    opacity: 0;
  }
}
@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}
.heading span {
  color: #EA0029;
}

.gradiant-color {
  font-weight: 400;
  background: #EA0029;
  background: linear-gradient(to right, #EA0029 38%, #F1C300 55%, #286300 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-gradiant-color {
  font-weight: 400;
  background: #EA0029;
  background: linear-gradient(to right, #EA0029 7%, #F1C300 29%, #286300 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .logo {
  font-size: 2rem;
  font-weight: 600;
  color: #ededed;
}
header .logo img {
  width: 300px;
}
header .nav-links {
  z-index: 1;
}
header .nav-links a {
  font-size: 1rem;
  color: #ededed;
  font-weight: 500;
  margin-right: 2rem;
  transition: 0.3s;
  text-transform: capitalize;
  position: relative;
}
header .nav-links a:hover {
  color: #EA0029 !important;
}
header .nav-links a:hover .line {
  transform: scale(1);
}
header .nav-links .active-link {
  color: #EA0029 !important;
}
header .nav-links .active-link .line {
  transform: scale(1);
}
header .nav-links .line {
  position: absolute;
  left: 0;
  bottom: -10px;
  right: 0;
  height: 3px;
  border-radius: 20px;
  background-color: #EA0029;
  transform: scale(0);
  transition: 0.7s;
}
header #btn-menu {
  font-size: 3rem;
  color: #ededed;
  cursor: pointer;
  display: none;
}
@media (max-width: 991px) {
  header {
    padding: 1.75rem 4%;
  }
}
@media (max-width: 768px) {
  header {
    background: #05141F;
  }
  header #btn-menu {
    display: block;
  }
  header .logo img {
    width: 200px;
  }
  header .nav-links {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: #EA0029;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }
  header .nav-links a {
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  header .nav-links a:hover .line {
    transform: scale(0);
  }
  header .nav-links .active-link .line {
    display: none;
  }
  header .nav-links .active-navbar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #05141F;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  header .nav-on {
    left: 0;
    transition-delay: 0s;
  }
  header .nav-on a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }
  header .nav-on .active-navbar {
    left: 0;
    transition-delay: 0.25s;
  }
}

.scroll-head {
  background-color: #05141F;
  transition: 0.3s ease-in-out;
  padding: 1rem 8%;
}
.scroll-head .logo {
  font-size: 2rem;
}
.scroll-head .logo img {
  width: 200px;
}
.scroll-head .nav-links a {
  font-size: 1.2rem;
}

main section {
  padding: 70px 0 50px;
  min-height: 100vh;
}
main .btn-box {
  position: relative;
  display: flex;
  height: 3rem;
  margin-bottom: 3rem;
}
main .btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 100%;
  background-color: #EA0029;
  border: 0.2rem solid #EA0029;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #05141F;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
main .btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #05141F;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
main .btn-box .btn:hover {
  color: #EA0029 !important;
}
main .btn-box .btn:hover::before {
  width: 100%;
}
main .btn-box .btn:nth-child(2) {
  background: transparent;
  color: #EA0029;
  margin-left: 18px;
}
main .btn-box .btn:nth-child(2)::before {
  background: #EA0029;
}
main .btn-box .btn:nth-child(2):hover {
  color: #05141F !important;
}
main .home {
  min-height: 100vh;
  background: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}
main .home:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
main .home .home-content {
  margin: 20px 0 0 0;
}
main .home .home-content h1 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 0.4;
}
main .home .home-content h3 {
  font-size: 3rem;
  text-align: justify;
  color: #ededed;
  font-weight: 600;
}
main .inspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  background-color: #05141F;
  font-weight: 600;
}
main .inspiration .heading {
  font-size: 80px;
  font-weight: 400;
  background: #EA0029;
  background: linear-gradient(to right, #EA0029 38%, #F1C300 55%, #286300 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .inspiration .content {
  text-align: center;
}
main .inspiration .content p {
  font-size: 2rem;
  margin: 2rem 0 4rem;
  font-weight: 300;
}
main .usp-points .intro-vdo {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1882352941);
}
main .usp-points .intro-vdo video {
  width: 100%;
  height: 100%;
}
main .usp-points p {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 300;
}
@media (max-width: 991px) {
  main .usp-points .categories {
    overflow-x: scroll;
    margin: 1rem 0;
  }
  main .usp-points .categories::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
  }
  main .usp-points .categories::-webkit-scrollbar-thumb {
    background: #a09e9e;
    border-radius: 5px;
    cursor: pointer;
  }
}
main .usp-points .categories .cat-item {
  display: flex;
}
main .usp-points .categories .cat-item li {
  position: relative;
  list-style: none;
  margin: 0;
}
main .usp-points .categories .cat-item li input[type=radio] {
  position: absolute;
  opacity: 0;
}
main .usp-points .categories .cat-item li input[type=radio]:checked + label {
  background: #fff;
  color: #05141F;
}
main .usp-points .categories .cat-item li label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 8px 3px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 8px 5px;
  width: 120px;
  min-height: 40px;
  align-items: center;
  background-color: #112e42;
}
main .usp-points .categories .cat-item li label span {
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 0 8px;
}
@media (max-width: 576px) {
  main .usp-points .categories .cat-item li label {
    width: 100px;
    min-height: 40px;
  }
  main .usp-points .categories .cat-item li label span {
    font-size: 8px;
  }
}
main .usp-points .share {
  background-color: #fff;
  color: #05141F;
  border-radius: 16px;
  padding: 5px 16px;
}
main .products-inspire {
  background-color: #fff;
  min-height: initial;
}
main .products-inspire h3 {
  color: #000;
}
main .products-inspire .card {
  margin-top: 2rem;
  color: #000 !important;
  border: none;
}
main .products-inspire .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
  overflow: hidden;
}
main .products-inspire .card .img-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
main .products-inspire .card .img-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
main .products-inspire .card .card-body {
  padding: 0.5rem 1rem;
}
main .products-inspire .card .card-body .card-text {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
main .products-inspire .card .card-body .card-sub-text {
  color: #000;
}
@media (max-width: 576px) {
  main .products-inspire .card .img-wrapper {
    height: 200px;
  }
  main .products-inspire .card .img-wrapper img {
    height: 100%;
  }
  main .products-inspire .card .card-body {
    padding: 0.75rem;
  }
}
@media (max-width: 991px) {
  main .products-inspire .card .img-wrapper::before {
    display: none;
  }
  main .products-inspire .card .img-wrapper .solid-action-btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */