@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: unset !important;
}

html, body {
  overflow-x: hidden;
  background-color: #081b29 !important;
  color: #ededed !important;
}

p {
  margin-bottom: 0;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 8%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ededed;
}
header .nav-links a {
  font-size: 1.4rem;
  color: #ededed;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
  text-transform: capitalize;
  position: relative;
}
header .nav-links a:hover {
  color: #00abf0;
}
header .nav-links a:hover .line {
  transform: scale(1);
}
header .nav-links .active {
  color: #00abf0;
}
header .nav-links .line {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3px;
  border-radius: 20px;
  background-color: #00abf0;
  transform: scale(0);
  transition: 0.7s;
}
header #btn-menu {
  font-size: 3.6rem;
  color: #ededed;
  cursor: pointer;
  display: none;
}

.scroll-head {
  background-color: #081b29;
  transition: 0.3s ease-in-out;
  padding: 1rem 8%;
}
.scroll-head .logo {
  font-size: 2rem;
}
.scroll-head .nav-links a {
  font-size: 1.2rem;
}

section {
  padding: 70px 0 50px;
  min-height: 100vh;
}

.btn-box {
  position: relative;
  display: flex;
  height: 4rem;
  margin-bottom: 3rem;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 100%;
  background-color: #00abf0;
  border: 0.2rem solid #00abf0;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #081b29;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.btn-box .btn:hover {
  color: #00abf0 !important;
}
.btn-box .btn:hover::before {
  width: 100%;
}
.btn-box .btn:nth-child(2) {
  background: transparent;
  color: #00abf0;
  margin-left: 18px;
}
.btn-box .btn:nth-child(2)::before {
  background: #00abf0;
}
.btn-box .btn:nth-child(2):hover {
  color: #081b29 !important;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}
.heading span {
  color: #00abf0;
}

.home {
  height: 100vh;
  padding-bottom: 6rem;
}
.home .home-content {
  margin: 150px 0 0 0;
}
.home .home-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #ededed;
}
.home .home-content .animate-text {
  position: relative;
}
.home .home-content .animate-text h3 {
  font-size: 3rem;
  font-size: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px #00abf0;
}
.home .home-content p {
  font-size: 1rem;
  margin: 1.5rem 0 2rem;
  text-align: justify;
  color: #ededed;
}
.home .home-content .btn-box {
  position: relative;
  display: flex;
  width: 32.5rem;
  height: 4rem;
  margin-bottom: 3rem;
}
.home .home-content .btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 100%;
  background-color: #00abf0;
  border: 0.2rem solid #00abf0;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #081b29;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.home .home-content .btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.home .home-content .btn-box .btn:hover {
  color: #00abf0;
}
.home .home-content .btn-box .btn:hover::before {
  width: 100%;
}
.home .home-content .btn-box .btn:nth-child(2) {
  background: transparent;
  color: #00abf0;
  margin-left: 18px;
}
.home .home-content .btn-box .btn:nth-child(2)::before {
  background: #00abf0;
}
.home .home-content .btn-box .btn:nth-child(2):hover {
  color: #081b29;
}
.home .social-icon {
  display: flex;
  justify-content: center;
}
.home .social-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  z-index: 1;
  overflow: hidden;
  margin-right: 18px;
}
.home .social-icon a i {
  color: #00abf0;
}
.home .social-icon a:hover i {
  color: #081b29;
}
.home .social-icon a:hover::before {
  width: 100%;
}
.home .social-icon a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.home .intro-banner {
  width: 80%;
  margin: 120px auto 0;
  -o-object-fit: contain;
     object-fit: contain;
  animation: mover 2s infinite alternate ease-in-out;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  background-color: #112e42;
  padding: 6rem;
  font-weight: 600;
}
.about .about-img {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.about .about-img img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 0.2rem solid #00abf0;
}
.about .about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid #112e42;
  border-bottom: 0.2rem solid #112e42;
  border-left: 0.2rem solid #00abf0;
  border-right: 0.2rem solid #00abf0;
}
.about .about-content {
  text-align: center;
}
.about .about-content h3 {
  font-size: 2rem;
}
.about .about-content p {
  font-size: 1rem;
  margin: 2rem 0 3rem;
}
.about .about-content .btn-box {
  justify-content: center;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  margin-bottom: 5rem;
}
.education .education-col {
  padding: 2rem;
}
.education .education-col .title {
  font-size: 2rem;
  margin: 0 0 1.5rem 2rem;
}
.education .education-col .education-box {
  border-left: 0.2rem solid #00abf0;
}
.education .education-col .education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education .education-col .education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background-color: #00abf0;
  border-radius: 50%;
}
.education .education-col .education-box .education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid #00abf0;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}
.education .education-col .education-box .education-content .content .year {
  font-size: 1.5rem;
  color: #00abf0;
  padding-bottom: 0.5rem;
}
.education .education-col .education-box .education-content .content .year i {
  padding-right: 0.5rem;
}
.education .education-col .education-box .education-content .content h3 {
  font-size: 2rem;
}
.education .education-col .education-box .education-content .content h3 span {
  font-size: 1rem;
  color: #00abf0;
}
.education .education-col .education-box .education-content .content li {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}
.education .education-col .education-box .education-content .content li::marker {
  color: #00abf0;
}/*# sourceMappingURL=style.css.map */