@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$bg-color: #05141F;
$secondary-bg-color: #112e42;
$text-color: #ededed;
$primary-color: #EA0029;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

a{
    text-decoration: none !important;
    &:hover{
        color: unset !important;
    }
}

html, body{
   overflow-x: hidden;
   background-color: $bg-color !important;
   color: $text-color !important;     
}

p{
    margin-bottom: 0;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes homeBgText {
    0%, 10%, 100%{
        background-position: -40rem 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%, 10%, 100%{
        width: 0;
    }
    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }
    75%, 81%{
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.heading{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
    span{
        color: $primary-color;
    }
}

.gradiant-color{
    font-weight: 400;
    background: #EA0029;
    background: linear-gradient(to right, #EA0029 38%, #F1C300 55%, #286300 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-gradiant-color{
    font-weight: 400;
    background: #EA0029;
    background: linear-gradient(to right, #EA0029 7%, #F1C300 29%, #286300 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reverse{
    @media(max-width:991px){
        display: flex;
        flex-direction: column-reverse;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    .logo{
        font-size: 2rem;
        font-weight: 600;
        color: $text-color; 
        img{
            width: 300px;
        }
    }
    .nav-links{
        z-index: 1;
        a{
            font-size: 1rem;
            color: $text-color;
            font-weight: 500;
            margin-right: 2rem;
            transition: .3s;
            text-transform: capitalize;
            position: relative;
            &:hover{
                color: $primary-color !important;
                .line{
                    transform: scale(1);
                }
            }   
        }
        .active-link{
            color: $primary-color !important;
            .line{
                transform: scale(1);
            }
            
        }
        .line{
            position: absolute;
            left: 0;
            bottom: -10px;
            right: 0;
            height: 3px;
            border-radius: 20px;
            background-color: $primary-color;
            transform: scale(0);
            transition: 0.7s;
        }
    }
    #btn-menu{
        font-size: 3rem;
        color: $text-color;
        cursor: pointer;
        display: none;
    }
    @media(max-width:991px){
        padding: 1.75rem 4%;
    }
    @media(max-width:768px){
        background: $bg-color;
        #btn-menu{
            display: block;
        }
        .logo{
            img{
                width: 200px;
            }
        }
        .nav-links{
            position: absolute;
            top: 100%;
            left: -100%;
            width: 100%;
            padding: 1rem 4%;
            background: $primary-color;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
            transition: .25s ease;
            transition-delay: .25s;
            a{
                display: block;
                font-size: 1.5rem;
                margin: 2rem 0;
                transform: translateX(-20rem);
                transition: .25s ease;
                transition-delay: 0s;
                &:hover{
                    .line{
                        transform: scale(0);
                    }
                } 
            }
            .active-link{
                .line{
                    display: none;
                }
            }            
            .active-navbar{
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: $bg-color;
                border-top: .1rem solid rgba(0,0,0,.2);
                z-index: -1;
                transition: .25s ease;
                transition-delay: 0s;
            }
        }
        .nav-on{
            left: 0;
            transition-delay: 0s;
            a{
                transform: translateX(0);
                transition-delay: .25s;
            }
            .active-navbar{
                left: 0;
                transition-delay: .25s;
            }
        }
    }
    
}

.scroll-head{
    background-color: $bg-color;
    transition: .3s ease-in-out;
    padding: 1rem 8%;

    .logo{
        font-size: 2rem;
        img{
            width: 200px;
        }
    }
    .nav-links{
        a{
            font-size: 1.2rem;
        }
    }
}

main{
    section{
        padding: 70px 0 50px;
        min-height: 100vh;
    }
    .btn-box{
        position: relative;
        display: flex;
        height: 3rem;
        margin-bottom: 3rem;
        .btn{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 12rem;
            height: 100%;
            background-color: $primary-color;
            border: .2rem solid $primary-color;
            border-radius: .8rem;
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: .1rem;
            color: $bg-color;
            z-index: 1;
            overflow: hidden;
            transition: .5s ease-in-out;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $bg-color;
                z-index: -1;
                transition: .5s ease-in-out;
            }
            &:hover{
                color: $primary-color !important;
                &::before{
                    width: 100%;
                }
            }
            &:nth-child(2){
                background: transparent;
                color: $primary-color;
                margin-left: 18px;
                &::before{
                    background: $primary-color;
                }
                &:hover{
                    color: $bg-color !important;
                }
            }
        }
    }
    .home{
        min-height: 100vh;
        background: url('/assets/images/background.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        position:relative;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #00000099;
            z-index: 0;
        }
       .home-content{
            margin:  20px 0 0 0;
            h1{
                font-size: 2.7rem;
                font-weight: 400;
                line-height: .4;
            }  
            h3{
                font-size: 3rem;
                text-align: justify;
                color: $text-color;
                font-weight: 600;
            }
        }
    }
    .inspiration{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
        background-color: $bg-color;
        font-weight: 600;
        .heading{
            font-size: 80px;
            font-weight: 400;
            background: #EA0029;
            background: linear-gradient(to right, #EA0029 38%, #F1C300 55%, #286300 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .content{
            text-align: center;
            p{
                font-size: 2rem;
                margin: 2rem 0 4rem;
                font-weight: 300;
            }
        }
    }
    .usp-points{
        .intro-vdo{
            width: 100%;
            height: 500px;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1882352941);
            video{
                width: 100%;
                height: 100%;
            }
        }
        p{
            font-size: 40px;
            margin-bottom: 0;
            font-weight: 300;
        }
        .categories{
            @media(max-width:991px){
                overflow-x: scroll;
                margin: 1rem 0;
                &::-webkit-scrollbar{
                    height: 5px;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-thumb {
                  background: #a09e9e; 
                  border-radius: 5px;
                  cursor: pointer;
                }
            }
            .cat-item{
                display: flex;
                li{
                    position: relative;
                    list-style: none;
                    margin: 0;
                    input[type='radio']{
                        position: absolute;
                        opacity: 0;  
                        &:checked + label{
                            background: #fff;
                            color: $bg-color;
                        }
                    } 
                    label{
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        padding: 8px 3px;
                        box-shadow: 0 2px 10px 1px rgb(0 0 0 / 15%);
                        border-radius: 5px;
                        margin: 8px 5px;
                        width: 120px;
                        min-height: 40px;
                        align-items: center;
                        background-color: $secondary-bg-color;
                        span{
                            word-wrap: break-word;
                            text-align: center;
                            font-weight: 600;
                            font-size: 14px;
                            padding: 0 8px;
                        }
                    }   
                }
            }
            @media(max-width:576px){
                .cat-item{
                    li{
                        label{
                            width: 100px;
                            min-height: 40px;
                            span{
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        } 
        .share{
            background-color: #fff;
            color: $bg-color;
            border-radius: 16px;
            padding: 5px 16px;
        }

    }
    .products-inspire{
        background-color: #fff;
        min-height: initial;
        h3{
            color: #000;
        }
        .card{
            margin-top: 2rem;
            color: #000 !important;
            border: none;
            &:hover{
                box-shadow: 0 4px 8px rgb(0 0 0 / 40%); 
                transform: translateY(-2px);
                overflow: hidden;
            }
            .img-wrapper{
                position: relative;
                cursor: pointer;
                width: 100%;
                height: 250px;
                overflow: hidden;
                img{
                    width: 100%;
                    object-fit: contain;
                    height: 100%;
                    object-position: center;
                }
            }
            .card-body{
                padding: .5rem 1rem;
                .card-text{
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 8px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                }
                .card-sub-text{
                    color: #000;
                }
            }
            @media (max-width:576px){
                .img-wrapper{
                    height: 200px;
                    img{
                        height: 100%;
                    }
                }
                .card-body{
                    padding: .75rem;
                }
            }
            @media(max-width: 991px){
                .img-wrapper{
                    &::before{
                        display: none;
                    }
                    .solid-action-btn{
                        display: none;
                    }
                }
            }
        }
    }
    
}
